
@charset "UTF-8" ;


.sounds ,
.stop-button
{
	display: block ;

	width: 90% ;
	max-width: 120px ;
	margin: 15px ;
	padding: 30px 0 ;
	border-radius: 4px ;

	color: rgb(255, 255, 255) ;
	font-weight: 500 ;
	background: #1518d3 ;
	text-align: center ;
	text-decoration: none ;
}
.flex{
	padding: 2.5% 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  }
  .flex > *{
	min-width: 0%;
	flex-basis: 25%;
	background: rgb(255, 255, 255);
	font-size: 15px;
	text-align: center;
  }
  
  

body {
	touch-action: none;
}

h1.touch_action_none{
  padding: 30px 0;
  touch-action: none;
}

